.vs/aZynEManager/v17/.suo
.vs/aZynEManager/v17/DocumentLayout.json
aZynEManager/bin/x86/Debug
aZynEManager/obj/x86/Debug
Cinemapps/bin/Debug
Cinemapps/obj/Debug
DataProviders/bin/x86/Debug
DataProviders/obj/x86/Debug
RdlEngine/bin/x86/Debug
RdlEngine/obj/x86/Debug
RdlViewer/bin/x86/Debug
RdlViewer/obj/x86/Debug
.vs/aZynEManager/v17
aZynEManager/obj/x86/Debug/aZynEManager.csproj.FileListAbsolute.txt
Cinemapps/obj/Debug/Cinemapps.csproj.FileListAbsolute.txt
DataProviders/obj/x86/Debug/DataProviders.csproj.FileListAbsolute.txt
RdlEngine/obj/x86/Debug/RdlEngine.csproj.FileListAbsolute.txt
RdlViewer/obj/x86/Debug/RdlViewer.csproj.FileListAbsolute.txt
.vs/aZynEManager/FileContentIndex/*.vsidx
.vs/aZynEManager/v17/*.suo
aZynEManager/obj/x86/Debug/*.txt
aZynEManager/obj/x86/Debug/*.cache
CinemaCustomControlLibrary/obj/x86/Debug/*.cache
CinemaCustomControlLibrary/obj/x86/Debug/*.lref
Cinemapps/obj/Debug/*.txt
Cinemapps/obj/Debug/*.cache
CommonLibrary/obj/x86/Debug/*.cache
DataProviders/obj/x86/Debug/*.txt
DataProviders/obj/x86/Debug/*.cache
EncryptionProvider/obj/x86/Debug/*.cache
EncryptUtilities/obj/x86/Debug/*.cache
ExcelReports/obj/x86/Debug/*.cache
RdlEngine/obj/x86/Debug/*.cache
RdlEngine/obj/x86/Debug/*.txt
RdlViewer/obj/x86/Debug/*.cache
RdlViewer/obj/x86/Debug/*.txt
System.Windows.Forms.Calendar/obj/x86/Debug/*.cache
.vs/aZynEManager/v17/fileLis*.bin
aZynEManager/.vs/aZynEManager.csproj.dtbcach*.json
CinemaCustomControlLibrary/.vs/CinemaCustomControlLibrary.csproj.dtbcach*.json
Cinemapps/.vs/Cinemapps.csproj.dtbcach*.json
CommonLibrary/.vs/CommonLibrary.csproj.dtbcach*.json
DataProviders/.vs/DataProviders.csproj.dtbcach*.json
EncryptionProvider/.vs/EncryptionProvider.csproj.dtbcach*.json
EncryptUtilities/.vs/EncryptUtilities.csproj.dtbcach*.json
ExcelReports/.vs/ExcelReports.csproj.dtbcach*.json
RdlEngine/.vs/RdlEngine.csproj.dtbcach*.json
RdlViewer/.vs/RdlViewer.csproj.dtbcach*.json
System.Windows.Forms.Calendar/.vs/System.Windows.Forms.Calendar.csproj.dtbcach*.json
CinemaCustomControlLibrary/obj/x86/Debug/Resources/Icon*.baml
CinemaCustomControlLibrary/obj/x86/Debug/Resources/Icons.*.cs
CinemaCustomControlLibrary/obj/x86/Debug/*.cs
CommonLibrary/obj/x86/Debug/*.NETFramework,Version=v4.0.AssemblyAttributes.cs
EncryptionProvider/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute*.cs
EncryptUtilities/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute*.cs
ExcelReports/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute*.cs
System.Windows.Forms.Calendar/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute*.cs
Cinex.Core/bin/Debug/*.*
Cinex.Core/obj/*.cache
Cinex.Infrastructure/bin/Debug/*.*
Cinex.Infrastructure/obj/Debug/*.*
Cinex.Infrastructure/obj/*.cache
Cinex.Test/bin/Debug/*.*
Cinex.Core/obj/Debug/net8.0/*.*
Cinex.Core/obj/Debug/net8.0
Cinex.Test/obj/Debug/net8.0/*.*
Cinex.Test/obj/Debug/net8.0
Cinex.Test/obj/*.cache
Cinex.Core/bin/Debug/netstandard2.0
Cinex.Core/obj/Debug/netstandard2.0
Cinex.Core/obj/project.nuget*.cache
Cinex.Infrastructure/bin/Debug/netstandard2.0
Cinex.Infrastructure/obj/Debug/netstandard2.0
Cinex.Infrastructure/obj/project.nuget*.cache
Cinex.Test/bin/Debug/net8.0/cs
Cinex.Test/bin/Debug/net8.0/de
Cinex.Test/bin/Debug/net8.0/es
Cinex.Test/bin/Debug/net8.0/fr
Cinex.Test/bin/Debug/net8.0/it
Cinex.Test/bin/Debug/net8.0/ja
Cinex.Test/bin/Debug/net8.0/ko
Cinex.Test/bin/Debug/net8.0/pl
Cinex.Test/bin/Debug/net8.0/pt-BR
Cinex.Test/bin/Debug/net8.0/ru
Cinex.Test/bin/Debug/net8.0/tr
Cinex.Test/bin/Debug/net8.0/zh-Hans
Cinex.Test/bin/Debug/net8.0/zh-Hant
Cinex.Test/bin/Debug/net8.0
Cinex.Test/obj/Debug/net8.0/ref
Cinex.Test/obj/Debug/net8.0/refint
Cinex.Test/obj/Debug/net8.0
Cinex.Test/obj/project.nuget*.cache
Cinex.WinForm/bin/Debug
Cinex.WinForm/obj/Debug
CinemaCustomControlLibrary/bin/x86/Debug
CinemaCustomControlLibrary/obj/x86/Debug
.vs/aZynEManager/DesignTimeBuild/.dtbcache*.v2
.vs/ProjectEvaluation/azynemanager.metadata*.v7.bin
.vs/ProjectEvaluation/azynemanager.projects*.v7.bin
packages/EmptyLicensesLicx*
Cinex.WinForm/.vs/Cinex.WinForm.csproj.dtbcache*
packages/Microsoft.Bcl.AsyncInterfaces*
packages/Newtonsoft.Json*
packages/System.IO.Pipelines*
packages/System.Memory*
packages/System.Runtime.CompilerServices.Unsafe*
packages/System.Text.Encodings.Web*
packages/System.ValueTuple*
NetSparkle/Debug
NetSparkle/obj
NetSparkle/obj/Debug
Paradiso/bin/Debug
Paradiso/obj/x86/Debug
Paradiso/.vs/Paradiso.csproj.dtbcache*
.vs/aZynEManager/FileContentIndex/merges/*.vsidx
.vs/ProjectEvaluation/azynemanager.metadata.v9*.bin
.vs/ProjectEvaluation/azynemanager.projects.v9*.bin
.vs/ProjectEvaluation/azynemanager.strings.v9*.bin
Cinex.Core/obj/Cinex.Core.csproj.nuget.dgspec*.json
Cinex.Core/obj/Cinex.Core.csproj.nuget.g*.props
Cinex.Core/obj/project.assets*.json
Cinex.Infrastructure/obj/Cinex.Infrastructure.csproj.nuget.dgspec*.json
Cinex.Infrastructure/obj/Cinex.Infrastructure.csproj.nuget.g*.props
Cinex.Infrastructure/obj/project.assets*.json
Cinex.Test/obj/Cinex.Test.csproj.nuget.dgspec*.json
Cinex.Test/obj/Cinex.Test.csproj.nuget.g*.props
Cinex.Test/obj/project.assets*.json
