.vs
*.cache
*.force
*.pdb
*.lref
*.manifest
*.vshost.exe
*.Up2Date
*.licenses
*.compiled
*.resources
*.CopyComplete
*.baml
*.g.cs
*.i.cs
*.---
*.exe

aZynEManager/bin
aZynEManager/obj

aZynEManager/Cinemapps/bin
aZynEManager/Cinemapps/obj

CinemaCustomControlLibrary/bin
CinemaCustomControlLibrary/obj

Cinemapps/bin
Cinemapps/obj
Cinemapps/app.Debug.config

Cinex.Core/bin
Cinex.Core/obj
Cinex.Infrastructure/bin
Cinex.Infrastructure/obj
Cinex.Test/bin
Cinex.Test/obj
Cinex.WinForm/bin
Cinex.WinForm/obj
CommonLibrary/bin
CommonLibrary/obj
DataProviders/bin
DataProviders/obj
EncryptionProvider/bin
EncryptionProvider/obj
EncryptUtilities/bin
EncryptUtilities/obj
ExcelReports/bin
ExcelReports/obj
NetSparkle/Debug
NetSparkle/obj
Paradiso/bin
Paradiso/obj
RdlEngine/bin
RdlEngine/obj
RdlViewer/bin
RdlViewer/obj
System.Windows.Forms.Calendar/bin
System.Windows.Forms.Calendar/obj
packages
