
/****** Object:  StoredProcedure [dbo].[movie_calendar_cinema_screening_list]    Script Date: 12/19/2012 10:34:50 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[movie_calendar_cinema_screening_list]
@date DATETIME
AS

SELECT 
c.[key],
c.code, 
c.[name], 
md.[key],
md.code, 
md.[name], 
mct.[key],
/*CASE mct.start_next_day 
	WHEN 1 THEN CAST(CONVERT(VARCHAR, DATEADD(d, 1, GETDATE()), 101)+ ' ' + CONVERT(VARCHAR, mct.start_time, 108) AS DATETIME) 
	ELSE CAST(CONVERT(VARCHAR, GETDATE(), 101)+ ' ' + CONVERT(VARCHAR, mct.start_time, 108) AS DATETIME)
	END AS 'ordering',*/
mct.start_time AS 'ordering',
mct.start_time, 
mct.end_time, 
mct.start_next_day,
mct.end_next_day,
mct.screening_type,
p.[key],
p.code,
p.[name],
mctp.price,
p.color,
mr.code,
md.running_time,
mc.[key],
mct.ticket_purchase_cutoff,
ISNULL(md.video_filename, ''),
ISNULL(md.synopsis, ''),
p.position,
c.capacity,
md.distributor_share_rate,
md.[local],
CASE p.apply_cultural_tax WHEN 1 THEN dbo.RetrieveCulturalTaxAmount() ELSE 0 END AS 'Cultural Tax Amount',
ROUND(((mctp.price - CASE p.apply_cultural_tax 
	WHEN 1 THEN dbo.RetrieveCulturalTaxAmount()
	ELSE 0 
	END - (mctp.price * dbo.RetrieveVATrate()/100))/(1+(CASE p.taxable 
									WHEN 1 THEN CASE md.[local] 
											WHEN 1 THEN dbo.RetrieveLocalTaxRate()/100 
											ELSE  dbo.RetrieveForeignTaxRate()/100 
											END 
									ELSE 0 
									END)))*(CASE p.taxable 
											WHEN 1 THEN CASE md.[local] 
													WHEN 1 THEN dbo.RetrieveLocalTaxRate()/100 
													ELSE  dbo.RetrieveForeignTaxRate()/100 
													END 
											ELSE 0 
											END), 2) AS 'Amusement Tax (Adjusted) Amount',
mctp.price * dbo.RetrieveVATrate()/100 AS 'VAT amount',
mct.use_screening_no,
mct.screening_no,
c.PR_number
FROM 
movie_calendar mc 
INNER JOIN
movie_database md
ON
mc.movie_key = md.[key]
INNER JOIN
cinemas c
ON mc.cinema_key = c.[key]
INNER JOIN
movie_calendar_times mct
ON
mc.[key] = mct.movie_calendar_key AND mct.publish = 1
INNER JOIN
movie_calendar_time_patrons mctp
ON
mct.[key] = mctp.movie_calendar_time_key
INNER JOIN
patrons p
ON
mctp.patron_key = p.[key]
INNER JOIN
mtrcb_ratings mr
ON
md.mtrcb_rating_key = mr.[key]
WHERE @date BETWEEN screening_start_date AND screening_end_date
ORDER BY 
--mc.cinema_key, 'ordering', p.position, p.code
c.display_order, 'ordering', p.position, p.code