<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="paradisoEntities" connectionString="metadata=res://*/ParadisoModel.csdl|res://*/ParadisoModel.ssdl|res://*/ParadisoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=cinema&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
