<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--test dbase-->
    <!--add key="Host" value="192.168.0.150"/>
    <add key="ServiceName" value="azynema2"/-->
    <add key="Host" value="localhost"/>
    <add key="ServiceName" value="azynema"/>
    <add key="Port" value="3306"/>
    <add key="UserId" value="d61039930f42b6fc"/>
    <!--add key="Password" value="d2d8d129dbd55fed09c1435ef75a9a5d"/-->
    <add key="Password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="paradisoEntities" connectionString="metadata=res://*/ParadisoModel.csdl|res://*/ParadisoModel.ssdl|res://*/ParadisoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=azynema&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>