<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="aZynEManager.Properties.Settings.azynema2ConnectionString"
      connectionString="password=Am3L74rS;server=127.0.0.1;user id=root;database=azynema_ilcorso;port=3309;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>
