<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--test dbase-->
    <!--add key="Host" value="192.168.0.218"/>
    <add key="ServiceName" value="cinema"/>
    <add key="Port" value="3306"/>
    <add key="UserId" value="1c9e5bafb3fe08edc8be3ccce3b45e5e"/>
    <add key="Password" value="0f63195c6d9f7eac3e55c9b4e11f5375"/-->
    <add key="Host" value="localhost"/>
    <add key="ServiceName" value="azynema"/>
    <!--add key="ServiceName" value="azynema"/--> 
    <add key="Port" value="3306"/>
    <add key="UserId" value="d61039930f42b6fc"/>
    <add key="Password" value=""/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>