<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--150 d2d8d129dbd55fed09c1435ef75a9a5d-->
    
    <add key="Host" value="localhost"/>
    <add key="ServiceName" value="azynema6302015"/>
    <add key="Port" value="3306"/>
    <add key="UserId" value="d61039930f42b6fc"/>
    <add key="Password" value=""/>
    <add key="Driver" value="MySQL ODBC 5.1 Driver"/>

    <!--commercenter site-->
    <!--<add key="Host" value="192.168.2.100"/>
    <add key="ServiceName" value="azynema"/>
    <add key="Port" value="3306"/>
    <add key="UserId" value="f05b03a415fb92b5eaec84930f44e828"/>
    <add key="Password" value="78eeb19336a233c5b0e75959e2faac23"/>
    <add key="Driver" value="MySQL ODBC 5.1 Driver"/>-->

    <add key ="SystemName" value="Cinex Manager"/>
    <add key="SystemDescription" value=" description of cinex manager."/>
    <add key="Module1Title" value="MOVIES"/>
    <add key="Module1Description" value="  movies description"/>
    <add key="Module2Title" value="REPORTS"/>
    <add key="Module2Description" value="  report description"/>
    <add key="Module3Title" value="SETUP"/>
    <add key="Module3Description" value="  setup description"/>
    <add key="Module4Title" value="ADMINISTRATION"/>
    <add key="Module4Description" value="  administration description"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>