<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--150 78eeb19336a233c5b0e75959e2faac23-->
		<!-- festival mall -->
		<add key="Host" value="127.0.0.1"/>
		<add key="ServiceName" value="azynema_fsm"/>
		<add key="Port" value="3309"/>
		<add key="UserId" value="d61039930f42b6fc"/>
		<add key="Password" value="d2d8d129dbd55fed09c1435ef75a9a5d"/>
		<add key="Driver" value="MySQL ODBC 5.3 ANSI Driver" />
		<add key="SystemName" value="Cinex Manager" />
		<add key="SystemDescription" value=" description of cinex manager." />
		<add key="Module1Title" value="MOVIES" />
		<add key="Module1Description" value="  movies description" />
		<add key="Module2Title" value="REPORTS" />
		<add key="Module2Description" value="  report description" />
		<add key="Module3Title" value="SETUP" />
		<add key="Module3Description" value="  setup description" />
		<add key="Module4Title" value="ADMINISTRATION" />
		<add key="Module4Description" value="  administration description" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>