<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="aZynEManager.Properties.Settings.azynema2ConnectionString"
		  connectionString="server=localhost;user id=root;database=azynema_fsm;password=globagility;port=3309;"
		  providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<!--test dbase
    <add key="Driver" value="MySQL ODBC 5.1 Driver" />
    <add key="Host" value="192.168.0.218" />
    <add key="ServiceName" value="cinema" />
    <add key="Port" value="3306" />
    <add key="UserId" value="1c9e5bafb3fe08edc8be3ccce3b45e5e" />
    <add key="Password" value="0f63195c6d9f7eac3e55c9b4e11f5375" />-->
		<add key="Host" value="172.16.35.9" />
		<add key="ServiceName" value="azynema_fsm" />
		<add key="Port" value="3306" />
		<add key="UserId" value="f05b03a415fb92b5eaec84930f44e828" />
		<add key="Password" value="78eeb19336a233c5b0e75959e2faac23" />
	</appSettings>
</configuration>