<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="aZynEManager.Properties.Settings.azynema2ConnectionString"
		  connectionString="password=Am3L74rS;server=127.0.0.1;user id=root;database=azynema_fsm;port=3309;"
		  providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Host" value="127.0.0.1" />
		<add key="ServiceName" value="azynema_fsm" />
		<add key="Port" value="3309" />
		<add key="UserId" value="d61039930f42b6fc" />
		<add key="Password" value="d2d8d129dbd55fed09c1435ef75a9a5d" />
	</appSettings>
</configuration>